## BERT DRIVEN QnA SYSTEM

In this notebook we will be creating QnA system with the help of BERT model on CoQA dataset. We will be doing pre-processing and then with the help of advanced NLP techniques such as token ID's we will extract answers from given context for the questions.

In [1]:
import pandas as pd
import numpy as np
import torch
from transformers import BertForQuestionAnswering
from transformers import BertTokenizer

In [2]:
df = pd.read_json('http://downloads.cs.stanford.edu/nlp/data/coqa/coqa-train-v1.0.json')
df.head()

   version                                               data
0        1  {'source': 'wikipedia', 'id': '3zotghdk5ibi9ce...
1        1  {'source': 'cnn', 'id': '3wj1oxy92agboo5nlq4r7...
2        1  {'source': 'gutenberg', 'id': '3bdcf01ogxu7zdn...
3        1  {'source': 'cnn', 'id': '3ewijtffvo7wwchw6rtya...
4        1  {'source': 'gutenberg', 'id': '3urfvvm165iantk...

### Data Pre-Processing

In [3]:
del df["version"]

In [4]:
#required columns in our dataframe
cols = ["text","question","answer"]
#list of lists to create our dataframe
comp_list = []
for index, row in df.iterrows():
    for i in range(len(row["data"]["questions"])):
        temp_list = []
        temp_list.append(row["data"]["story"])
        temp_list.append(row["data"]["questions"][i]["input_text"])
        temp_list.append(row["data"]["answers"][i]["input_text"])
        comp_list.append(temp_list)
df1 = pd.DataFrame(comp_list, columns=cols) 
#saving the dataframe to csv file for further loading
df1.to_csv("CoQA_data.csv", index=False)

In [5]:
data = pd.read_csv("CoQA_data.csv")
data.head()

,text,question,answer
0,"The Vatican Apostolic Library (), more commonl...",When was the Vat formally opened?,It was formally established in 1475
1,"The Vatican Apostolic Library (), more commonl...",what is the library for?,research
2,"The Vatican Apostolic Library (), more commonl...",for what subjects?,"history, and law"
3,"The Vatican Apostolic Library (), more commonl...",and?,"philosophy, science and theology"
4,"The Vatican Apostolic Library (), more commonl...",what was started in 2014?,a project

In [6]:
print("Number of question and answers: ", len(data))

Number of question and answers:  108647

### Importing Pre-Trained BERT Model and Tokenizer

In [7]:
model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

Some weights of the model checkpoint at bert-large-uncased-whole-word-masking-finetuned-squad were not used when initializing BertForQuestionAnswering: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForQuestionAnswering from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForQuestionAnswering from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

### Taking Random Question and Text and Creating Tokens and ID's

In [8]:
random_num = np.random.randint(0,len(data))
question = data["question"][random_num]
text = data["text"][random_num]

In [9]:
input_ids = tokenizer.encode(question, text)
print("The input has a total of {} tokens.".format(len(input_ids)))

The input has a total of 309 tokens.

In [10]:
tokens = tokenizer.convert_ids_to_tokens(input_ids)
for token, id in zip(tokens, input_ids):
    print('{:8}{:8,}'.format(token,id))

[CLS]        101
how        2,129
?          1,029
[SEP]        102
what       2,054
can        2,064
technology   2,974
do         2,079
to         2,000
make       2,191
the        1,996
world      2,088
better     2,488
?          1,029
three      2,093
young      2,402
people     2,111
are        2,024
starting   3,225
new        2,047
businesses   5,661
to         2,000
answer     3,437
the        1,996
question   3,160
.          1,012
eighteen   7,763
-          1,011
year       2,095
-          1,011
old        2,214
mach      24,532
was        2,001
the        1,996
youngest   6,587
person     2,711
in         1,999
poland     3,735
to         2,000
receive    4,374
money      2,769
from       2,013
others     2,500
to         2,000
develop    4,503
his        2,010
company    2,194
.          1,012
he         2,002
started    2,318
five       2,274
,          1,010
a          1,037
mobile     4,684
messaging  24,732
app       10,439
,          1,010
for        2,005
deaf      12,419
people     2,111
.          1,012
the        1,996
app       10,439
lets      11,082
deaf      12,419
people     2,111
create     3,443
their      2,037
own        2,219
hand       2,192
signs      5,751
to         2,000
communicate  10,639
with       2,007
friends    2,814
.          1,012
the        1,996
app       10,439
now        2,085
has        2,038
more       2,062
than       2,084
10         2,184
,          1,010
000        2,199
deaf      12,419
users      5,198
.          1,012
and        1,998
mach      24,532
thinks     6,732
there      2,045
will       2,097
be         2,022
about      2,055
150        5,018
,          1,010
000        2,199
more       2,062
deaf      12,419
users      5,198
next       2,279
year       2,095
.          1,012
mach      24,532
says       2,758
,          1,010
"          1,000
i          1,045
love       2,293
to         2,000
create     3,443
.          1,012
i          1,045
will       2,097
stick      6,293
to         2,000
it         2,009
to         2,000
the        1,996
end        2,203
of         1,997
my         2,026
life       2,166
.          1,012
"          1,000
william    2,520
zhou      14,367
was        2,001
born       2,141
in         1,999
beijing    7,211
and        1,998
grew       3,473
up         2,039
in         1,999
canada     2,710
.          1,012
he         2,002
strongly   6,118
wanted     2,359
to         2,000
make       2,191
a          1,037
change     2,689
in         1,999
education   2,495
.          1,012
so         2,061
he         2,002
created    2,580
chalk     16,833
.          1,012
it         2,009
is         2,003
a          1,037
group      2,177
of         1,997
programs   3,454
that       2,008
supports   6,753
individual   3,265
teaching   4,252
and        1,998
learning   4,083
.          1,012
chalk     16,833
is         2,003
now        2,085
used       2,109
in         1,999
20         2,322
,          1,010
000        2,199
schools    2,816
by         2,011
more       2,062
than       2,084
100        2,531
,          1,010
000        2,199
users      5,198
worldwide   4,969
.          1,012
zhou      14,367
says       2,758
you        2,017
have       2,031
to         2,000
find       2,424
something   2,242
you        2,017
truly      5,621
care       2,729
about      2,055
.          1,012
or         2,030
you        2,017
may        2,089
just       2,074
end        2,203
up         2,039
giving     3,228
it         2,009
up         2,039
.          1,012
george     2,577
was        2,001
born       2,141
in         1,999
tanzania  11,959
.          1,012
he         2,002
learned    4,342
about      2,055
renewable  13,918
energy     2,943
in         1,999
europe     2,885
and        1,998
began      2,211
thinking   3,241
about      2,055
using      2,478
solar      5,943
energy     2,943
in         1,999
africa     3,088
.          1,012
tanzania  11,959
is         2,003
a          1,037
place      2,173
with       2,007
bright     4,408
sunshine   9,609
,          1,010
but        2,021
more       2,062
than       2,084
90         3,938
percent    3,867
of         1,997
people     2,111
have       2,031
no         2,053
electricity   6,451
to         2,000
use        2,224
.          1,012
after      2,044
graduation   7,665
,          1,010
george     2,577
returned   2,513
to         2,000
tanzania  11,959
and        1,998
started    2,318
his        2,010
own        2,219
company    2,194
,          1,010
suns      19,352
##wee     28,394
##t        2,102
solar      5,943
.          1,012
it         2,009
has        2,038
found      2,179
early      2,220
success    3,112
in         1,999
rural      3,541
areas      2,752
.          1,012
george     2,577
hopes      8,069
to         2,000
create     3,443
jobs       5,841
and        1,998
help       2,393
build      3,857
his        2,010
country    2,406
.          1,012
he         2,002
understands  19,821
the        1,996
process    2,832
will       2,097
take       2,202
time       2,051
.          1,012
"          1,000
but        2,021
i          1,045
think      2,228
we         2,057
are        2,024
on         2,006
the        1,996
right      2,157
way        2,126
.          1,012
"          1,000
[SEP]        102

In [11]:
#first occurence of [SEP] token
sep_idx = input_ids.index(tokenizer.sep_token_id)
print("SEP token index: ", sep_idx)
#number of tokens in segment A (question) - this will be one more than the sep_idx as the index in Python starts from 0
num_seg_a = sep_idx+1
print("Number of tokens in segment A: ", num_seg_a)
#number of tokens in segment B (text)
num_seg_b = len(input_ids) - num_seg_a
print("Number of tokens in segment B: ", num_seg_b)
#creating the segment ids
segment_ids = [0]*num_seg_a + [1]*num_seg_b
#making sure that every input token has a segment id
assert len(segment_ids) == len(input_ids)

SEP token index:  3
Number of tokens in segment A:  4
Number of tokens in segment B:  305

### Extracting Answer from Output

In [12]:
#token input_ids to represent the input and token segment_ids to differentiate our segments - question and text
output = model(torch.tensor([input_ids]),  token_type_ids=torch.tensor([segment_ids]))

In [13]:
#tokens with highest start and end scores
answer_start = torch.argmax(output.start_logits)
answer_end = torch.argmax(output.end_logits)
if answer_end >= answer_start:
    answer = " ".join(tokens[answer_start:answer_end+1])
else:
    print("I am unable to find the answer to this question. Can you please ask another question?")
    
print("\nQuestion:\n{}".format(question.capitalize()))
print("\nAnswer:\n{}.".format(answer.capitalize()))

Question:
How?

Answer:
[cls] how ? [sep] what can technology do to make the world better ? three young people are starting new businesses to answer the question . eighteen - year - old mach was the youngest person in poland to receive money from others to develop his company . he started five , a mobile messaging app , for deaf people . the app lets deaf people create their own hand signs to communicate with friends.

In [14]:
answer = tokens[answer_start]
for i in range(answer_start+1, answer_end+1):
    if tokens[i][0:2] == "##":
        answer += tokens[i][2:]
    else:
        answer += " " + tokens[i]

### Creating a Generalised Function

In [15]:
def question_answer(question, text):
    
    #tokenize question and text as a pair
    input_ids = tokenizer.encode(question, text)
    
    #string version of tokenized ids
    tokens = tokenizer.convert_ids_to_tokens(input_ids)
    
    #segment IDs
    #first occurence of [SEP] token
    sep_idx = input_ids.index(tokenizer.sep_token_id)
    #number of tokens in segment A (question)
    num_seg_a = sep_idx+1
    #number of tokens in segment B (text)
    num_seg_b = len(input_ids) - num_seg_a
    
    #list of 0s and 1s for segment embeddings
    segment_ids = [0]*num_seg_a + [1]*num_seg_b
    assert len(segment_ids) == len(input_ids)
    
    #model output using input_ids and segment_ids
    output = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    
    #reconstructing the answer
    answer_start = torch.argmax(output.start_logits)
    answer_end = torch.argmax(output.end_logits)
    if answer_end >= answer_start:
        answer = tokens[answer_start]
        for i in range(answer_start+1, answer_end+1):
            if tokens[i][0:2] == "##":
                answer += tokens[i][2:]
            else:
                answer += " " + tokens[i]
                
    if answer.startswith("[CLS]"):
        answer = "Unable to find the answer to your question."
    
    print("\nPredicted answer:\n{}".format(answer.capitalize()))

### Comparing Our Answer and Original Answer

In [16]:
text = """New York (CNN) -- More than 80 Michael Jackson collectibles -- including the late pop star's famous rhinestone-studded glove from a 1983 performance -- were auctioned off Saturday, reaping a total $2 million. Profits from the auction at the Hard Rock Cafe in New York's Times Square crushed pre-sale expectations of only $120,000 in sales. The highly prized memorabilia, which included items spanning the many stages of Jackson's career, came from more than 30 fans, associates and family members, who contacted Julien's Auctions to sell their gifts and mementos of the singer. Jackson's flashy glove was the big-ticket item of the night, fetching $420,000 from a buyer in Hong Kong, China. Jackson wore the glove at a 1983 performance during \"Motown 25,\" an NBC special where he debuted his revolutionary moonwalk. Fellow Motown star Walter \"Clyde\" Orange of the Commodores, who also performed in the special 26 years ago, said he asked for Jackson's autograph at the time, but Jackson gave him the glove instead. "The legacy that [Jackson] left behind is bigger than life for me,\" Orange said. \"I hope that through that glove people can see what he was trying to say in his music and what he said in his music.\" Orange said he plans to give a portion of the proceeds to charity. Hoffman Ma, who bought the glove on behalf of Ponte 16 Resort in Macau, paid a 25 percent buyer's premium, which was tacked onto all final sales over $50,000. Winners of items less than $50,000 paid a 20 percent premium."""
question = "Where was the Auction held?"
question_answer(question, text)
#original answer from the dataset
print("Original answer:\n", data.loc[data["question"] == question]["answer"].values[0])

Predicted answer:
Hard rock cafe in new york ' s times square
Original answer:
 Hard Rock Cafe

### Creating an Input Form for any Text

In [17]:
text = input("Please enter your text: \n")
question = input("\nPlease enter your question: \n")
while True:
    question_answer(question, text)
    
    flag = True
    flag_N = False
    
    while flag:
        response = input("\nDo you want to ask another question based on this text (Y/N)? ")
        if response[0] == "Y":
            question = input("\nPlease enter your question: \n")
            flag = False
        elif response[0] == "N":
            print("\nBye!")
            flag = False
            flag_N = True
            
    if flag_N == True:
        break

Please enter your text:
 Narendra Damodardas Modi (Gujarati: [ˈnəɾendɾə dɑmodəɾˈdɑs ˈmodiː] ⓘ; born 17 September 1950)[a] is an Indian politician who has served as the 14th Prime Minister of India since 26 May 2014. Modi was the chief minister of Gujarat from 2001 to 2014 and is the Member of Parliament (MP) for Varanasi. He is a member of the Bharatiya Janata Party (BJP) and of the Rashtriya Swayamsevak Sangh (RSS), a right wing Hindu nationalist paramilitary volunteer organisation. He is the longest-serving prime minister outside the Indian National Congress.

Please enter your question:
 Who is Narendra Modi ?

Predicted answer:
An indian politician who has served as the 14th prime minister of india

Do you want to ask another question based on this text (Y/N)?  N

Bye!